/*google font*/

@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #ccc;
}


/*slider*/

#carouselExampleIndicators {
    position: relative;
    height: 100vh;
    width: 100%;
}

#carouselExampleIndicators .carousel-inner {
    position: relative;
    height: 100%;
    width: 100%;
    background: #000;
}

#carouselExampleIndicators .carousel-inner:before {
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, 0.45);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

#carouselExampleIndicators .carousel-inner .carousel-item {
    position: relative;
    height: 100%;
    width: 100%;
    background: url('images/airport-690556.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#carouselExampleIndicators .carousel-inner .carousel-item:nth-child(2) {
    background: url('images/virus-4937553.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#carouselExampleIndicators .carousel-inner .carousel-item:nth-child(3) {
    background: url('images/graph-2588994_1920.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#carouselExampleIndicators .carousel-inner .carousel-item .info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
    width: 100%;
    z-index: 1;
    text-align: center;
}

#carouselExampleIndicators .carousel-inner .carousel-item h1 {
    height: auto;
    color: #fff;
    width: 100%;
    z-index: 1;
    text-align: center;
    font-size: 4em;
    font-weight: 750;
}

#carouselExampleIndicators .carousel-inner .carousel-item p {
    height: auto;
    color: #ccc;
    width: 100%;
    z-index: 1;
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
}

.section-header {
    text-align: center;
    margin-bottom: 30px;
}

.section-header p {
    font-size: 18px;
}

.single-service {
    border: 1px solid #ebebeb;
    text-align: center;
    background: #fff;
}

.service-bg {
    height: 200px;
    position: relative;
}

.service-bg-1 {
    background: url("images/airport-690556.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.service-bg-2 {
    background: url("images/virus-4937553.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.service-bg-3 {
    background: url("images/graph-2588994_1920.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.service-bg h2 {
    color: #fff;
    background: #000;
    border: 1px solid #000;
    font-size: 17px;
    text-align: center;
    font-weight: 700;
    padding: 15px;
    position: absolute;
    left: 8%;
    width: 84%;
    margin: 0;
    bottom: -25px;
    border-radius: 50px;
    letter-spacing: 2px;
}

.single-service:hover .service-bg h2 {
    background: #fff;
    transition: .9s;
    color: #000;
}

.service-text {
    padding: 50px 30px 20px;
    font-size: 15px;
    font-weight: 400;
}

.service-text p:last-child {
    margin: 0;
    line-height: 1.8;
}

.btn-area {
    display: inline-block;
    color: #333;
    font-size: 17px;
    font-weight: 700;
    margin-top: 30px;
    text-transform: uppercase;
}

section#components.components {
    padding-top: 25px;
}

.welcomeRow {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.welcomeRow .col50 {
    position: relative;
    width: 48%;
}

.titleText {
    color: #100;
    font-size: 2em;
    font-weight: 300;
}

.titleText span {
    color: #100;
    font-weight: 700;
    font-size: 1.5em;
}

.welcomeRow .col50 .imgBx {
    position: relative;
    width: 100%;
    min-height: 300px;
}

.welcomeRow .col50 .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section1,
.section2,
.section3 {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
}

.map {
    height: 85vh;
}

.overlay {
    z-index: 1000;
    position: absolute;
    bottom: 2em;
    right: 1em;
    background-color: white;
    width: fit-content;
    height: fit-content;
    border: 1px solid black;
    padding: 0.5em 1em;
    font-family: Arial, Helvetica, sans-serif;
}

.overlay div span {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 1em;
}

.overlay-percentile-1 span {
    background-color: #fcde95;
}

.overlay-percentile-2 span {
    background-color: #fc9860;
}

.overlay-percentile-3 span {
    background-color: #f5614b;
}

.overlay-percentile-4 span {
    background-color: #dc3852;
}

.overlay-percentile-5 span {
    background-color: #ba2760;
}

.overlay-percentile-6 span {
    background-color: #941b6a;
}

.overlay-percentile-7 span {
    background-color: #79146e;
}

.overlay-percentile-8 span {
    background-color: #50046d;
}

.overlay-percentile-9 span {
    background-color: #300061;
}

.overlay-percentile-10 span {
    background-color: #0c0920;
}

.map-container {
    position: relative;
}

.progress-overlay {
    width: 100%;
    height: 100%;
    background-color: #ffffffaa;
    z-index: 1005;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-bar {
    height: 1em;
    width: 10em;
    background-color: white;
    border: 1px solid black;
}

.progress-bar span {
    height: 100%;
    background-color: #79146e;
    display: inline-block;
}

footer {
    position: relative;
    width: 100%;
    height: auto;
    background: #111;
    color: #fff;
}

footer .container h2 {
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .container h2:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #ffffff;
}

footer .container .sec.about p {
    color: #999;
}

#footer-quick-links ul li {
    list-style: none;
}

#footer-quick-links ul li a {
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

#footer-quick-links ul li a:hover {
    color: #fff;
}

#footer-team-members p {
    color: #999;
    font-size: 0.90em;
}

.copyrightText {
    width: 100%;
    background: #181818;
    padding: 8px 100px;
    text-align: center;
    color: #999;
}

.copyrightText p {
    margin-top: 0;
    margin-bottom: 0;
}

#map-background-container {
    background-color: white;
    padding: 2em;
}

#map-controls {
    margin-bottom: 1em;
}

@media (max-width: 991px) {
    .copyrightText {
        padding: 8px 40px;
    }
}

@media (max-width: 500px) {
    #map-background-container {
        padding: 0.5em;
    }
    .infoSection {
        padding: 0 1em;
    }
    .overlay {
        font-size: 0.8rem;
        bottom: 3em;
    }
}

#map-type-label,
#map-date-label {
    font-weight: bold;
}