/*google font*/

@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #eee;
}

.section-header {
    text-align: center;
    margin-bottom: 30px;
}

.section-header p {
    font-size: 18px;
}

.single-service {
    border: 1px solid #ebebeb;
    text-align: center;
    background: #fff;
}

.service-bg {
    height: 200px;
    position: relative;
}

.btn-area {
    display: inline-block;
    color: #333;
    font-size: 17px;
    font-weight: 700;
    margin-top: 30px;
    text-transform: uppercase;
}

.titleText {
    color: #100;
    font-size: 2em;
    font-weight: 300;
}

.titleText span {
    color: #100;
    font-weight: 700;
    font-size: 1.5em;
}

.map {
    height: 85vh;
}

input[type="text"],
input[type="date"],
select {
    padding: 0.25em 0.5em;
    background: white;
    border: #000 2px solid;
    max-width: none;
    height: 2.5rem;
    outline: none;
}

table {
    border-collapse: collapse;
    width: 100%;
}

#covid-data-table thead,
#covid-data-table th {
    position: sticky;
    top: 0;
    z-index: 1;
}

#flight-data-table thead,
#flight-data-table th {
    position: sticky;
    top: 0;
    z-index: 1;
}

.table-container {
    overflow-x: scroll;
    overflow-y: scroll;
    max-height: 90vh;
}

th,
td {
    padding: 8px 16px;
}

th {
    background: #eee;
}

label {
    margin-right: 2em;
    font-size: 1.125rem;
}

legend {
    font-weight: bold;
}

input[type="date"] {
    width: fit-content;
}

.overlay {
    z-index: 1000;
    position: absolute;
    bottom: 2em;
    right: 1em;
    background-color: white;
    width: fit-content;
    height: fit-content;
    border: 1px solid black;
    padding: 0.5em 1em;
    font-family: Arial, Helvetica, sans-serif;
}

.overlay div span {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 1em;
}

.overlay-percentile-1 span {
    background-color: #fcde95;
}

.overlay-percentile-2 span {
    background-color: #fc9860;
}

.overlay-percentile-3 span {
    background-color: #f5614b;
}

.overlay-percentile-4 span {
    background-color: #dc3852;
}

.overlay-percentile-5 span {
    background-color: #ba2760;
}

.overlay-percentile-6 span {
    background-color: #941b6a;
}

.overlay-percentile-7 span {
    background-color: #79146e;
}

.overlay-percentile-8 span {
    background-color: #50046d;
}

.overlay-percentile-9 span {
    background-color: #300061;
}

.overlay-percentile-10 span {
    background-color: #0c0920;
}

.map-container {
    position: relative;
}

.progress-overlay {
    width: 100%;
    height: 100%;
    background-color: #ffffffaa;
    z-index: 1005;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-bar {
    height: 1em;
    width: 10em;
    background-color: white;
    border: 1px solid black;
}

.progress-bar span {
    height: 100%;
    background-color: #79146e;
    display: inline-block;
}

footer {
    position: relative;
    width: 100%;
    height: auto;
    background: #111;
    color: #fff;
}

footer .container h2 {
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .container h2:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #ffffff;
}

footer .container .sec.about p {
    color: #999;
}

#footer-quick-links ul li {
    list-style: none;
}

#footer-quick-links ul li a {
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

#footer-quick-links ul li a:hover {
    color: #fff;
}

#footer-team-members p {
    color: #999;
    font-size: 0.90em;
}

.copyrightText {
    width: 100%;
    background: #181818;
    padding: 8px 100px;
    text-align: center;
    color: #999;
}

.copyrightText p {
    margin-top: 0;
    margin-bottom: 0;
}

#map-background-container {
    background-color: white;
    padding: 2em;
}

#map-controls {
    margin-bottom: 1em;
}

@media (max-width: 991px) {
    .copyrightText {
        padding: 8px 40px;
    }
}

@media (max-width: 500px) {
    #map-background-container {
        padding: 0.5em;
    }
    .infoSection {
        padding: 0 1em;
    }
    .overlay {
        font-size: 0.8rem;
        bottom: 3em;
    }
}

#map-type-label,
#map-date-label {
    font-weight: bold;
}