<!DOCTYPE html>
<html lang="en">

<html>

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TSE</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />

    <!-- style.css -->
    <link rel="stylesheet" type="text/css" href="static/index.css" />




</head>


<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
        <span class="navbar-brand">TSE Group 8</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#atc-section">ATC Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#covid-map-section">COVID-19 Interactive Map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#raw-data-section">Raw Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#attributions-section">Attributions</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <!-- slider banner	 -->

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="info">
                            <h1>Flights During Covid</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="info">
                            <h1>View UK Covid Data</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="info">
                            <h1>View Raw Data</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

    <section class="welcome container my-3" id="S1">
        <div class="row">
            <div class="col-md-6">
                <h2 class="titleText">Welcome</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br><br>Lorem ipsum dolor
                    sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="col-md-6 d-none d-md-block justify-items-center">
                <img style="width: 100%" src="static/images/pexels-lukas-669610.jpg">
            </div>
        </div>
    </section>

    <hr>

    <section class="components container" id="components">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header">
                    <h2>View Components</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 mb-3 mb-lg-0">
                <div class="single-service">
                    <div class="service-bg service-bg-1">
                        <h2>Air Traffic Data</h2>
                    </div>
                    <div class="service-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

                        <a href="" class="btn-area">View Air Traffic Data!<i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-3 mb-lg-0">
                <div class="single-service">
                    <div class="service-bg service-bg-2">
                        <h2>UK Covid Data</h2>
                    </div>

                    <div class="service-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

                        <a href="" class="btn-area">View Covid Data!<i class="fa fa-long-arrow-right"></i></a>

                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="single-service">
                    <div class="service-bg service-bg-3">
                        <h2>Raw Data</h2>
                    </div>
                    <div class="service-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

                        <a href="" class="btn-area">View Raw Data!<i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <hr>

    <section id="graph-section" class="container section1">

        <div class="row">
            <div class="col-md-12">
                <div class="section-header">
                    <h2>Graph</h2>
                    <p>The graph below shows graphed data for cumulative and daily COVID-19 cases and also daily flights into the UK.</p>
                    <p>By clicking on each legend entry above the chart, you can compare the different trends in data against each other.</p>
                    <p>The data is for the dates <strong>31/01/2020</strong> until <strong>31/12/2020</strong> inclusive.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="row py-2">
                    <div class="col-md-12"><label for="graphing-county-input">County:</label><select id="graphing-county-input"></select></div>
                </div>

                <!-- TODO: https://moderncss.dev/pure-css-custom-styled-radio-buttons/  -->



            </div>
        </div>

        <div>
            <canvas id="graph" class="w-100"></canvas>
        </div>

    </section>

    <hr>

    <!-- UK Covid Map -->
    <section class="container ukmap" id="covid-map-section">

        <div class="row">
            <div class="col-md-12">
                <div class="section-header">
                    <h2>Overview Of UK COVID-19 Cases</h2>
                    <p>The map below shows a visual representation of COVID-19 cases. You can switch between <strong>daily</strong> (The figures for that one specific day) or <strong>cumulative</strong> (The total number of cases in that region so far) figures.
                    </p>
                    <p>The data is for the dates <strong>31/01/2020</strong> until <strong>31/12/2020</strong> inclusive.</p>
                </div>
            </div>
        </div>

        <div id="map-background-container">
            <div id="map-controls">
                <p>Showing the <span id="map-type-label">cumulative</span> data for the <span id="map-date-label"></span></p>
                <input id="slider" class="w-100 px-0" type="range" min="0" max="335" value="0" width="100%">
                <div class="container-fluid text-center d-none d-sm-block">
                    <div class="row">
                        <div class="col px-0 border-right border-left border-primary">Feb</div>
                        <div class="col px-0 border-right border-primary">Mar</div>
                        <div class="col px-0 border-right border-primary">Apr</div>
                        <div class="col px-0 border-right border-primary">May</div>
                        <div class="col px-0 border-right border-primary">Jun</div>
                        <div class="col px-0 border-primary">Jul</div>
                        <div class="col px-0 border-left border-primary">Aug</div>
                        <div class="col px-0 border-left border-primary">Sept</div>
                        <div class="col px-0 border-left border-primary">Oct</div>
                        <div class="col px-0 border-left border-primary">Nov</div>
                        <div class="col px-0 border-right border-left border-primary">Dec</div>
                    </div>
                </div>

            </div>


            <div class="map-container">
                <div class="map">
                    <div id="map" class="map"></div>
                    <div class="progress-overlay">
                        <div class="progress-bar">
                            <span style="width:0%"></span> </div>
                        <br/>
                        <div class="progress-label">&nbsp;Loading Data...</div>
                    </div>
                </div>

                <div class="overlay" id="daily-overlay"></div>
                <div class="overlay" id="cumulative-overlay"></div>
            </div>

        </div>

    </section>

    <hr>

    <section id="raw-data-section" class="container section3">Raw Data Section</section>

    <hr>

    <section id="attributions-section" class="container mb-3">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header">
                    <h2>Attributions</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <h3>Data</h3>
                <ul>
                    <li>Contains MSOA names &copy; Open Parliament copyright and database right 2020</li>
                    <li>Contains Ordnance Survey data &copy; Crown copyright and database right 2020</li>
                    <li>Contains Royal Mail data &copy; Royal Mail copyright and database right 2020</li>
                    <li>Contains Public Health England data &copy; Crown copyright and database right 2020</li>
                    <li>Office for National Statistics licensed under the Open Government Licence v.3.0</li>
                    <li>Map data &copy; OpenStreetMap contributors</li>
                    <li>Map imagery &copy; Mapbox</li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h3>Libraries</h3>
                <ul>
                    <li><a href="https://getbootstrap.com/">Bootstrap 4</a></li>
                    <li><a href="https://jquery.com/">jQuery</a></li>
                    <li><a href="https://leafletjs.com/">Leaflet</a></li>
                    <li><a href="https://www.chartjs.org/">Chart.js</a></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </section>

    <footer class="py-5 px-2 px-md-0">
        <div class="container">
            <div class="row">
                <div class="sec col-md-4" id="footer-about-us">
                    <h2>About Us</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>

                <div class="sec col-md-4" id="footer-quick-links">
                    <h2>Quick Links</h2>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Air Traffic Data</a></li>
                        <li><a href="#">UK Covid-19 Data</a></li>
                        <li><a href="#">RAW Data</a></li>
                    </ul>
                </div>
                <div class="sec col-md-4" id="footer-team-members">
                    <h2>Team Members</h2>
                    <p>William S Oldham (19693813)</p>
                    <p>Connor Bull (19702845)</p>
                    <p>Ben C Gallard-Bridger (19693078)</p>
                    <p>Thomas Anderson (19701195)</p>
                    <p>Shane Lawson (18680054)</p>
                    <p>Kacper Gajos (19705067)</p>
                </div>
            </div>

        </div>
    </footer>
    <div class="copyrightText">
        <p>Copyright © 2021 University Of Lincoln. All Rights Reserved.</p>
    </div>


    <!-- scripts -->
    <!-- bootstrap javascript cdn -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="static/js/map.js"></script>
    <script src="static/js/graphing.js"></script>

</body>

</html>