<!DOCTYPE html>
<html lang="en">

<html>

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TSE</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />

    <!-- style.css -->
    <link rel="stylesheet" type="text/css" href="static/index.css" />




</head>


<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
        <span class="navbar-brand">TSE Group 8</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#atc-section">ATC Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#covid-map-section">COVID-19 Interactive Map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#raw-data-section">Raw Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#attributions-section">Attributions</a>
                </li>
            </ul>
        </div>
    </nav>

    <section class="welcome container my-3" id="S1">
        <div class="row">
            <div class="col-md-6">
                <h2 class="titleText">Welcome</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br><br>Lorem ipsum dolor
                    sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="col-md-6 d-none d-md-block justify-items-center">
                <img style="width: 100%" src="static/images/pexels-lukas-669610.jpg">
            </div>
        </div>
    </section>

    <hr>

    <section id="graph-section" class="container section1">

        <div class="row">
            <div class="col-md-12">
                <div class="section-header">
                    <h2>Graph</h2>
                    <p>The graph below shows graphed data for cumulative and daily COVID-19 cases and also daily flights into the UK.</p>
                    <p>By clicking on each legend entry above the chart, you can compare the different trends in data against each other.</p>
                    <p>The data is for the dates <strong>31/01/2020</strong> until <strong>31/12/2020</strong> inclusive.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="row py-2">
                    <div class="col-md-12"><label for="graphing-county-input">County:</label><select id="graphing-county-input">
                        <option value="all">== All Counties ==</option>
                    </select></div>
                </div>

                <!-- TODO: https://moderncss.dev/pure-css-custom-styled-radio-buttons/  -->



            </div>
        </div>

        <div>
            <canvas id="graph" class="w-100"></canvas>
        </div>

    </section>

    <hr>

    <!-- UK Covid Map -->
    <section class="container ukmap" id="covid-map-section">

        <div class="row">
            <div class="col-md-12">
                <div class="section-header">
                    <h2>Overview Of UK COVID-19 Cases</h2>
                    <p>The map below shows a visual representation of COVID-19 cases. You can switch between <strong>daily</strong> (The figures for that one specific day) or <strong>cumulative</strong> (The total number of cases in that region so far) figures.
                    </p>
                    <p>The data is for the dates <strong>31/01/2020</strong> until <strong>31/12/2020</strong> inclusive.</p>
                </div>
            </div>
        </div>

        <div id="map-background-container">
            <div id="map-controls">
                <p>Showing the <span id="map-type-label">cumulative</span> data for the <span id="map-date-label"></span></p>
                <input id="slider" class="w-100 px-0" type="range" min="0" max="335" value="0" width="100%">
                <div class="container-fluid text-center d-none d-sm-block">
                    <div class="row">
                        <div class="col px-0 border-right border-left border-primary">Feb</div>
                        <div class="col px-0 border-right border-primary">Mar</div>
                        <div class="col px-0 border-right border-primary">Apr</div>
                        <div class="col px-0 border-right border-primary">May</div>
                        <div class="col px-0 border-right border-primary">Jun</div>
                        <div class="col px-0 border-primary">Jul</div>
                        <div class="col px-0 border-left border-primary">Aug</div>
                        <div class="col px-0 border-left border-primary">Sept</div>
                        <div class="col px-0 border-left border-primary">Oct</div>
                        <div class="col px-0 border-left border-primary">Nov</div>
                        <div class="col px-0 border-right border-left border-primary">Dec</div>
                    </div>
                </div>

            </div>


            <div class="map-container">
                <div class="map">
                    <div id="map" class="map"></div>
                    <div class="progress-overlay">
                        <div class="progress-bar">
                            <span style="width:0%"></span> </div>
                        <br/>
                        <div class="progress-label">&nbsp;Loading Data...</div>
                    </div>
                </div>

                <div class="overlay" id="daily-overlay"></div>
                <div class="overlay" id="cumulative-overlay"></div>
            </div>

        </div>

    </section>

    <hr>

    <section id="raw-data-section" class="container section3">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header">
                    <h2>Data Access</h2>
                    <p>The table below will display raw data for either flight data or COVID-19 data. </p>
                    <p>The data is for the dates <strong>31/01/2020</strong> until <strong>31/12/2020</strong> inclusive.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="data-type-inputs" class="col-md-12 mb-2">
                <label for="data-type-input">Data Type:</label>
                <select id="data-type-input">
                    <option value="covid">COVID-19 Data</option>
                    <option value="flights">Flight Data</option>
                </select>
            </div>
            <div id="data-date-inputs" class="col-md-6 mb-2">
                <label for="data-date-input">Date:</label>
                <input type="date" id="data-date-input" min="2020-01-31" max="2020-12-31">
            </div>
            <div id="data-county-inputs" class="col-md-6 mb-2 d-none">
                <label for="data-county-input">County:</label>
                <select id="data-county-input">
                    <option value="">--</option>
                </select>
            </div>
            <div id="data-county-search-inputs" class="col-md-6 mb-2">
                <label for="data-county-search-input">County Filter:</label>
                <input type="text" name="county-search" id="data-county-search-input">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="flight-data-table" class=" table-container d-none">
                    <table>
                        <thead>
                            <th>ICAO24</th>
                            <th>First Seen</th>
                            <th>Last Seen</th>
                            <th>Callsign</th>
                            <th>Est Departure Airport</th>
                            <th>Est Arrival Airport</th>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12">
                <div id="covid-data-table" class=" table-container">
                    <table>
                        <thead>
                            <th>County</th>
                            <th>Cumulative Cases</th>
                            <th>New Cases &#9650;</th>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>


    </section>

    <hr>

    <section id="data-comments-section" class="container mb-3">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header">
                    <h2>Data Conclusions</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    The original aim for this project was to research a correlation between the rate of COVID-19 cases presenting in the UK and the number of flights entering the UK. It has since come to light that, due to the number of factors that will have affected the
                    rate of COVID-19 cases, it is incredibly difficult to find a causational relationship between the two statistics. Due to a number of limitations in the datasets used, this is made further difficult.
                </p>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Dataset Limitations</h3>
                <p>The datasets this project used were public datasets that have been published for general use. Because of this, the project is prevented from a direct causational analysis between the two datasets.</p>
            </div>
            <div class="col-md-6">
                <h4>COVID-19 Dataset</h4>
                <p>The COVID-19 dataset is available publicly at the time of writing from the <a href="https://coronavirus.data.gov.uk/details/download" rel="noopener" target="_blank">UK governments data dashboard</a>. When downloading the dataset, an option
                    of the different metrics of data you would like to download is given. For the project, 2 metrics were chosen: </p>
                <ul>
                    <li><code>cumCasesBySpecimenDate</code> - The number of cumulative cases since the start of the dataset</li>
                    <li><code>newCasesBySpecimenDate</code> - The number of news cases on the record's day</li>
                </ul>
                <p>One of the ways a limitation was avoided with the Coronavirus dataset was to ensure both metrics were using "BySpecimenDate" which meant the data was more representative of when test subjects presented with the virus rather than when the
                    test was completed.</p>
                <p>The key limitation in the dataset is the large variation in testing throughout the whole dataset period. There is no way to verify that an even proportion of the UK was being testing at the time nor whether there were enough tests available
                    for people. Because of this, it's likely the real Coronavirus numbers vary from our dataset.</p>
            </div>
            <div class="col-md-6">
                <h4>Flights Dataset</h4>
                <p>The flight dataset was very </p>
            </div>
        </div>

    </section>

    <hr>

    <section id="attributions-section" class="container mb-3">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header">
                    <h2>Attributions</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <h3>Data</h3>
                <ul>
                    <li>Contains MSOA names &copy; Open Parliament copyright and database right 2020</li>
                    <li>Contains Ordnance Survey data &copy; Crown copyright and database right 2020</li>
                    <li>Contains Royal Mail data &copy; Royal Mail copyright and database right 2020</li>
                    <li>Contains Public Health England data &copy; Crown copyright and database right 2020</li>
                    <li>Office for National Statistics licensed under the Open Government Licence v.3.0</li>
                    <li>Map data &copy; OpenStreetMap contributors</li>
                    <li>Map imagery &copy; Mapbox</li>
                    <li>Flight Data &copy; The OpenSky Network</li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h3>Libraries</h3>
                <ul>
                    <li><a href="https://getbootstrap.com/">Bootstrap 4</a></li>
                    <li><a href="https://jquery.com/">jQuery</a></li>
                    <li><a href="https://leafletjs.com/">Leaflet</a></li>
                    <li><a href="https://www.chartjs.org/">Chart.js</a></li>
                </ul>
            </div>
        </div>
    </section>

    <footer class="py-5 px-2 px-md-0">
        <div class="container">
            <div class="row">
                <div class="sec col-md-4" id="footer-about-us">
                    <h2>About Us</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>

                <div class="sec col-md-4" id="footer-quick-links">
                    <h2>Quick Links</h2>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Air Traffic Data</a></li>
                        <li><a href="#">UK Covid-19 Data</a></li>
                        <li><a href="#">RAW Data</a></li>
                    </ul>
                </div>
                <div class="sec col-md-4" id="footer-team-members">
                    <h2>Team Members</h2>
                    <p>William S Oldham (19693813)</p>
                    <p>Connor Bull (19702845)</p>
                    <p>Ben C Gallard-Bridger (19693078)</p>
                    <p>Thomas Anderson (19701195)</p>
                    <p>Shane Lawson (18680054)</p>
                    <p>Kacper Gajos (19705067)</p>
                </div>
            </div>

        </div>
    </footer>
    <div class="copyrightText">
        <p>Copyright © 2021 University Of Lincoln. All Rights Reserved.</p>
    </div>


    <!-- scripts -->
    <!-- bootstrap javascript cdn -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="static/js/main.js"></script>
    <script src="static/js/map.js"></script>
    <script src="static/js/graphing.js"></script>

</body>

</html>